{% extends 'base-huertos.html' %}
{% block contenido %}
    <div class="contenedor">
        <div class="titulo">
        </div>
    </div>
    <div class="contenedores">
        <form action="{{url_for('familiares_post')}}" method="post" name="formulario" class="formulario" id="formulario"
            enctype="multipart/form-data">
            <div class="titulo">
                <h5>Formulario de registro beneficiarios</h5>
                <h5>Huertos familiares</h5>
            </div>
            <!-- Sección 2: Información personal -->
            <div id="seccion1">
                <br>
                <div class="titulo">
                    <h5>Información personal</h5>
                </div>
                <br>
                <div class="campo-container">
                    <div class="formulario_grupo" id="grupo_nombre_beneficiario">
                        <label for="nombre_beneficiario" class="formulario_label">Nombre completo:</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="nombre_beneficiario" id="nombre_beneficiario"
                                placeholder="Nombre completo del beneficiario" required>
                            <span id="mensaje_nombre_beneficiario" style="color: red;">Sintaxis invalida. Ingrese un nombre valido</span>
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_fecha_nacimiento">
                        <label for="fecha_nacimiento" class="formulario_label">Fecha de nacimiento:</label>
                        <div class="formulario_grupo_input">
                            <input type="date" class="formulario_input" name="fecha_nacimiento" id="fecha_nacimiento"
                                format="yyyy-MM-dd">
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_genero">
                        <label for="genero" class="formulario_label">Genero:</label>
                        <select name="genero" class="form-select" id="genero" required>
                            <option value="" disabled selected>Seleccione una opción</option>
                            <option value="Hombre">Hombre</option>
                            <option value="Mujer">Mujer</option>
                        </select>
                    </div>
                    <div class="formulario_grupo" id="grupo_estado_civil">
                        <label for="estado_civil" class="formulario_label">Estado civil:</label>
                        <select name="estado_civil" class="form-select" id="estado_civil" required>
                            <option value="" disabled selected>Seleccione una opción</option>
                            <option value="soltero">Soltero</option>
                            <option value="casado">Casado</option>
                            <option value="divorciado">Divorciado</option>
                            <option value="viudo">Viudo</option>
                        </select>
                    </div>
                    <div class="formulario_grupo" id="grupo_escolaridad_beneficiario">
                        <label for="escolaridad_beneficiario" class="formulario_label">Escolaridad:</label>
                        <select name="escolaridad_beneficiario" class="form-select" id="escolaridad_beneficiario" required>
                            <option value="" disabled selected>Seleccione una opción</option>
                            <option value="Primaria">Primaria</option>
                            <option value="Secundaria">Secundaria</option>
                            <option value="Preparatoria">Preparatoria</option>
                            <option value="Universidad">Universidad</option>
                        </select>
                    </div>
                    <div class="formulario_grupo" id="grupo_ine_beneficiario">
                        <label for="ine_beneficiario" class="formulario_label">INE:</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="ine_beneficiario" id="ine_beneficiario"
                                placeholder="INE del beneficiario" onblur="mayusculas(this.name)" required>
                            <span id="mensaje_ine_beneficiario" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_curp_beneficiario">
                        <label for="curp_beneficiario" class="formulario_label">CURP:</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="curp_beneficiario" id="curp_beneficiario"
                                placeholder="CURP del beneficiario" onblur="mayusculas(this.name)" required>
                            <span id="mensaje_curp_beneficiario" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_telefono">
                        <label for="numero_telefono" class="formulario_label">Número de teléfono:</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="numero_telefono" id="numero_telefono"
                                placeholder="Número de teléfono de contacto" required>
                            <span id="mensaje_telefono_beneficiario" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_correo">
                        <label for="correo_beneficiario" class="formulario_label">Correo electronico:</label>
                        <div class="formulario_grupo_input">
                            <input type="email" class="formulario_input" name="correo_beneficiario" id="correo_beneficiario"
                                placeholder="ejemplo@gmail.com" required>
                            <span id="mensaje_correo_beneficiario" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <br><br><br><br><br>
                    <div class="botones-contenedor">
                        <button type="button" class="btn btn-primary"
                            style="background: #0487D9; color: white; border: 1px #0487D9 solid;"
                            onclick="mostrarSeccion(2)">Siguiente</button>
                        <button type="button" class="btn btn-secondary"
                            style="width: 100px; height: 39px; background: #F80526; color: white; border: 1px #F80526 solid;"
                            onclick="cancelarRegistro()">Cancelar</button>
                    </div>
                </div>
            </div>
            <!-- Sección 2: Información domicilio -->
            <div id="seccion2">
                <br>
                <div class="titulo">
                    <h5>Domicilio</h5>
                </div>
                <div class="campo-container">
                    <div class="formulario_grupo" id="grupo_municipio_beneficiario">
                        <label for="municipio_beneficiario" class="formulario_label">Municipio:</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="municipio_beneficiario"
                                id="municipio_beneficiario" placeholder="Nombre del municipio" required>
                            <span id="mensaje_municipio_beneficiario" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_localidad_beneficiario">
                        <label for="localidad_beneficiario" class="formulario_label">Localidad:</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="localidad_beneficiario"
                                id="localidad_beneficiario" placeholder="Nombre de la localidad" required>
                            <span id="mensaje_localidad_beneficiario" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_colonia_beneficiario">
                        <label for="colonia_beneficiario" class="formulario_label">Colonia:</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="colonia_beneficiario"
                                id="colonia_beneficiario" placeholder="Colonia" required>
                            <span id="mensaje_colonia_beneficiario" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_codigo_postal">
                        <label for="codigo_postal" class="formulario_label">C.P:</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="codigo_postal" id="codigo_postal"
                                placeholder="Código postal" required>
                            <span id="mensaje_codigo_postal" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_numero_exterior">
                        <label for="numero_exterior" class="formulario_label">NE:</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="numero_exterior" id="numero_exterior"
                                placeholder="Número exterior" required>
                            <span id="mensaje_numero_exterior" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_numero_interior">
                        <label for="numero_interior" class="formulario_label">NI:</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="numero_interior" id="numero_interior"
                                placeholder="Número interior" required>
                            <span id="mensaje_numero_interior" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_calle">
                        <label for="calle" class="formulario_label">Calle:</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="calle" id="calle" placeholder="Calle"
                                required>
                            <span id="mensaje_calle" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_referencias_domicilio">
                        <label for="referencias_domicilio" class="formulario_label">Referencias al domicilio:</label>
                        <div class="formulario_grupo_input">
                            <textarea class="form-control" id="referencias_domicilio" name="referencias_domicilio"
                                style="resize: none; margin: auto; height: 50px;" required></textarea>
                            <span id="referencias_domicilio" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <div class="botones-contenedor">
                        <button type="button" class="btn btn-primary igualar-boton"
                            style="background: #16B4D2; color: white; border: 1px #16B4D2 solid; margin-left: 400px;"
                            onclick="mostrarSeccion(1)">Anterior</button>
                        <button type="button" class="btn btn-primary"
                            style="background: #0487D9; color: white; border: 1px #0487D9 solid;"
                            onclick="mostrarSeccion(3)">Siguiente</button>
                        <button type="button" class="btn btn-secondary"
                            style="width: 100px; height: 39px; background: #F80526; color: white; border: 1px #F80526 solid;"
                            onclick="cancelarRegistro()">Cancelar</button>
                    </div>
                </div>
            </div>
            <!-- Sección 4: detalles del programa -->
            <div id="seccion3" class="seccion">
                <br>
                <div class="titulo">
                    <h5>Detalles del programa</h5>
                </div>
                <br>
                <div class="campo-container">
                    <div class="formulario_grupo" id="grupo_tipo_apoyo">
                        <label for="tipo_apoyo" class="formulario_label">Tipo de apoyo:</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="tipo_apoyo" id="tipo_apoyo"
                                placeholder="Tipo de apoyo" required>
                            <span id="mensaje_tipo_apoyo" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_criterio_seleccion">
                        <label for="criterio_seleccion" class="formulario_label">Criterio de selección:</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="criterio_seleccion" id="criterio_seleccion"
                                placeholder="Describir criterio de selección" required>
                            <span id="mensaje_criterio_seleccion" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_periodo_apoyo">
                        <label for="periodo_apoyo" class="formulario_label">Periodo de apoyo:</label>
                        <div class="formulario_grupo_input">
                            <input type="text" class="formulario_input" name="periodo_apoyo" id="periodo_apoyo"
                                placeholder="Periodo de entrege del apoyo" required>
                            <span id="mensaje_periodo_apoyo" style="color: red;">Sintaxis invalida.</span>
                        </div>
                    </div>
                    <div class="formulario_grupo" id="grupo_fecha_registro">
                        <label for="fecha_registro" class="formulario_label">Fecha de registro:</label>
                        <div class="formulario_grupo_input">
                            <input type="date" class="formulario_input" name="fecha_registro" id="fecha_registro"
                                format="yyyy-MM-dd">
                        </div>
                    </div>
                    <div class="botones-contenedor">
                        <button type="button" class="btn btn-primary igualar-boton"
                            style="background: #16B4D2; color: white; border: 1px solid #16B4D2; margin-left: 400px;"
                            onclick="mostrarSeccion(2)">Anterior</button>
                        <button type="submit" class="btn btn-primary igualar-boton"
                            style="background: #4CAF50; color: white; border: 1px #4CAF50 solid;">Registrar</button>
                        <button type="button" class="btn btn-secondary igualar-boton"
                            style="width: 100px; height: 39px; background: #F80526; color: white; border: 1px #F80526 solid;"
                            onclick="cancelarRegistro()">Cancelar</button>
                    </div>
                    <div class="modal fade" tabindex="-1" role="dialog" id="alertaModal">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content contenedor text-dark">
                                <div class="modal-header">
                                    <label for="" class="titulo" style="margin-left: 110px; font-weight: bold;">Datos incompletos o incorrectos</label>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true" class="eliminar">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="alertaMensaje">
                                    <!-- Contenido de la alerta -->
                                </div>
                                <div class="modal-footer">
                                    <button type="button"
                                    style="background: #F80526; color: white; border: 1px #F80526 solid;"
                                    class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <script>
        function mostrarSeccion(seccion) {
            document.getElementById('seccion1').style.display = 'none';
            document.getElementById('seccion2').style.display = 'none';
            document.getElementById('seccion3').style.display = 'none';



            document.getElementById('seccion' + seccion).style.display = 'block';
        }

        // Mostrar la primera sección al cargar la página
        mostrarSeccion(1);

        function cancelarRegistro() {
            // Redirigir al módulo principal o la página de desayunos fríos
            window.location.href = "{{ url_for('familiares') }}";
        }
    </script>
{% endblock %}